@model TestDataViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
  <h1>Welcome to the Secret Santa Game. Please Login to create a new game.</h1>
  <ul>
    <li>Create custom groups</li>
    <li>Text Message Notifications</li>
    <li>Email Notifications</li>
    <li>User Wish Lists</li>
    <li>Create custom groups</li>
    <li>Create rules (spouses)</li>
  </ul>
</div>
