@model TestDataViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h1>Welcome to the Secret Santa App</h1>


    @if (!User.Identity.IsAuthenticated)
    {
        <h2>Login To Play</h2>
        <a class="btn BtnGreen"
           asp-controller="Account"
           asp-action="LoginExternal">
            Login
        </a>
    }

</div>