@using System.Security.Claims
@using SecretSantaApp.BL
@model GroupChatDisplayModel
@inject ISecretSantaBl ssbl
@{
    var uid = Guid.NewGuid();
    var containerid = $"divcontainerid-{uid}";
    var newmessageurl = Url.Action("NewMessagePartial", "Groups", new { groupid = Model.GroupId });
}

<div id="@containerid">



    <div class="col-md-12" style="text-align: center;">
        <h4> lets chat in group: @Model.GroupName</h4>
    </div>

    <button type="button" onclick="ToggleChat()" id="btnDrawNames" class="btn BtnGreen " data-dismiss="modal">New Message</button>
   
        <div id="newmessageinput" class="col-md-12" style="outline: 2px purple solid; display: none;">

            <h5>New Message</h5>
   
    </div>


    <div class="row">
        <div class="col-md-12" style="outline: 2px orange solid">
            @if (Model.MessagesList.Count > 0)
            {
                <div id="divgroupchat">
                    <table class="table table-responsive table-striped" style="max-height:60px!important;">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in Model.MessagesList.OrderByDescending(x => x.InsertedDtm))
                            {
                                var user = ssbl.UserFullNameByAccountNumberString(r.InsertedBy);
                                <tr>
                                    <td> <span style="font-size:.9em">@r.InsertedDtm.ToString("g")</span> @user said:  @r.Message </td>
                                    <td>&nbsp;</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <h5>No Messages. Talk some smack!</h5>
            }
        </div>

    </div> @*row*@


    <script>
        $(document).ready(function() {

            LoadNewMessage();


        }); //doc ready


        function LoadNewMessage() {
            console.log("boom load");

            window.LayoutLoadPartial('newmessageinput', '@newmessageurl', { 'label': 'Loading New Message...' });

            @*$.get('@newmessagepopup',
        function(data) {
          $("#newmessageinput").append(data);
        });*@
        }
    </script>

</div>

<style>

</style>