@using System.Security.Claims
@using SecretSantaApp.BL
@model GroupRulesDisplayModel
@inject ISecretSantaBl ssbl
@{

}


<h3 style="text-decoration:underline">Group @Model.GroupName Rules:</h3>
@if (Model.GroupRules.Count > 0)
{
  <div class="row">
    <table class="table table-responsive table-striped">
      <thead>
        <tr>
          <th>Rule</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var r in Model.GroupRules)
        {
          var user = ssbl.UserFullNameByAccountNumberString(r.InsertedBy);
          <tr>
            <td>@user said: @r.Rule</td>

            @if (User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier).Value == r.InsertedBy)
            {
              var editruleurl = Url.Action("EditRulePopup", "Groups", new {ruleid = r.ID}) ;
              
              <td>
                <button class="btn btn-group modal-link BtnRed"
                        href="@editruleurl"
                        title="Add modal"
                        data-target="#modal-container"
                        data-toggle="modal">
                  Edit
                </button>
              </td>
            }
            else
            {
              <td>you cannot edit this rule</td>
            }

          </tr>
        }
      </tbody>
    </table>
  </div>
}
else
{
  <p>No Rules Yet</p>
}
