@model JoinGroupEditModel
<div class="">
  <div class="modal-title" style="color: black">
    <h3>Join Group: @Model.Group.GroupName</h3>
    
    
  </div>
  <br />
  
@using (Html.BeginForm("CheckPasswordInput", "Groups", FormMethod.Post))
{

  
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label asp-for="UserInputGroupPassword" class="col-md-12 control-label"></label>
        <input asp-for="UserInputGroupPassword" class="form-control" />
        <span asp-validation-for="UserInputGroupPassword" class="text-danger"></span>

      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="submit" id="btnSave" class="btn btn">Save</button>
      <button type="button" class="btn " data-dismiss="modal">Cancel</button>
    </div>
  </div>
}
  
</div>


<script>
  $(function() {
    $('#btnSave').click(function() {
      console.log("save");
      // $('#modal-container').modal('hide');
      //https://codemagik.wordpress.com/2015/04/07/render-mvc-partial-view-inside-bootstrap-modal-dialog/
    });
  });
</script>