@model JoinGroupEditModel

@{
  var joingrouppopupurl = Url.Action("PromptUserForPassword", "Groups");
}
<h3>These are the available groups you can join</h3>
<div class="row">
  <table class="table table-responsive table-striped">
    <thead>
      <tr>
        <th>Group Name</th>
        <th>Password</th>
        <th>InsertedBy</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var g in Model.GroupsNotMemberOf)
      {
        var url = Url.Action("PromptUserForPassword", "Groups", new { id = g.GroupId });
        <tr>
          <td>@g.GroupName</td>
          <td>@g.GroupPassWord</td>
          <td>@g.InsertedBy</td>
          <td>
            <button class="btn btn-group modal-link" href="@url" title="Add modal" data-target="#modal-container" data-toggle="modal">Join Group</button>
          </td>
          <td></td>
        </tr>
      }
    </tbody>
  </table>
</div>